<!-- MAIN CONTENT SECTION -->
<section class="mainContent clearfix cartListWrapper">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <div class="cartListInner">
          <% if @order.line_items.empty? %>
            <p>カートは空です</p>
          <% else %>
            <%= render 'order_form', order: @order %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</section>