<div class="panel panel-default filterNormal">
  <div class="panel-heading">サイズから探す</div>
  <div class="panel-body">
    <ul class="list-unstyled clearfix">
      <% @sizes.each do |size| %>
        <li>
          <%= link_to (potepan_category_path(id: taxon.id, size: size.name)) do %>
            <%= size.presentation %><span>(<%= count_number_of_products_by_option(size) %>)</span>
          <% end %>
        </li>
      <% end %>
    </ul>
  </div>
</div>