<% provide(:title, @taxon.name) %>
<!-- LIGHT SECTION -->
<%= render 'light_section', taxon: @taxon %>
<!-- MAIN CONTENT SECTION -->
<section class="mainContent clearfix productsContent">
  <div class="container">
    <div class="row">
      <div class="col-md-3 col-sm-4 col-xs-12 sideBar">
        <%= render 'category_left_sidebar', taxonomies: @taxonomies%>
        <%= render 'left_sidebar_pricerange' %>
        <%= render 'filter_by_color', colors: @colors, taxon: @taxon %>
        <%= render 'filter_by_size', sizes: @size, taxon: @taxon %>
      </div>
      <div class="col-md-9 col-sm-8 col-xs-12">
        <%= render 'filterarea' %>
        <%= render 'products_display', products: @products %>
      </div>
    </div>
  </div>
</section>
