<% provide(:title, @product.name) %>
<!-- LIGHT SECTION -->
<%= render 'layouts/light', product: @product %>

<!-- MAIN CONTENT SECTION -->
<section class="mainContent clearfix">
  <div class="container">
    <div class="row singleProduct">
      <div class="col-xs-12">
        <div class="media">
          <div class="media-left productSlider">
            <div id="carousel" class="carousel slide" data-ride="carousel">
              <div class="carousel-inner">
                <% if @product.images.any? %>
                  <% @product.images.each_with_index do |image, index| %>
                    <div class="item carousel-item <%= 'active' if index.zero? %>" data-thumb="<%= index %>">
                      <%= image_tag(image.attachment(:large)) %>
                    </div>
                  <% end %>
                <% end %>
              </div>
              <div class="clearfix">
                <div id="thumbcarousel" class="carousel slide" data-interval="false">
                  <div class="carousel-inner">
                    <% if @product.images.any? %>
                      <% @product.images.each_with_index do |image, index| %>
                        <div data-target="#carousel" data-slide-to="<%= index %>" class="thumb">
                          <%= image_tag(image.attachment(:small)) %>
                        </div>
                      <% end %>
                    <% end %>
                  </div>
                  <a class="left carousel-control" href="#thumbcarousel" role="button" data-slide="prev">
                    <span class="glyphicon glyphicon-chevron-left"></span>
                  </a>
                  <a class="right carousel-control" href="#thumbcarousel" role="button" data-slide="next">
                    <span class="glyphicon glyphicon-chevron-right"></span>
                  </a>
                </div>
              </div>
            </div>　
          </div>
          <div class="media-body">
            <ul class="list-inline">
              <%= link_to potepan_category_path(@product.taxons.first.id) do %>
                <i class="fa fa-reply" aria-hidden="true"></i>一覧ページへ戻る</a>
              <% end %>
            </ul>
            <h2><%= @product.name %></h2>
            <h3><%= @product.display_price %></h3>
            <p><%= @product.description %></p>
            <%= render "cart_form", product: @product %>
          </div>
        </div>
      </div>
    </div>
    <!-- RELATED PRODUCTS -->
    <%= render 'related_products', related_products: @related_products %>
  </div>
</section>
