<!DOCTYPE html>
<html>
  <head>
    <%= render 'layouts/head' %>
    <%= render 'layouts/shim' %>
  </head>

  <body>
      <div class="main-wrapper">
      <%= render 'layouts/header' %>
      <%= yield %>
      <%= render 'layouts/light_section' %>
      <%= render 'layouts/footer' %>
    </div>
    <%= render 'layouts/login_model' %>
    <%= render 'layouts/sing_up_model' %>
    <%= javascript_include_tag 'application' %>
  </body>
</html>
